<meta charset="UTF-8">
<form role="form" name="form" novalidata>
	<div class="form-group col-md-6">
	    <h4>题目设置</h4>
	    <label class="control-label" style="font-size: 15px;">判断题题干：</label>
	    <textarea rows="2" name="wysiwyg" required class="form-control wysiwyg" placeholder="输入单选题的题目..." ng-model="formData.content"></textarea>
	    <br>
	    <div class="form-group">
	        <label class="control-label" style="font-size: 15px;">答案:</label>
	        <div class="col-sm-12">
	            <label class="radio-inline col-sm-2" ng-repeat="o in formData.options">
	            <input type="radio" name="rightanswer" ng-model="formData.answer" ng-value="$index">
	            {{ o.name }}
	        </label>
	        </div>
	    </div>
	    <br>
	    <h4>其他设置</h4>
	    <div class="form-group">
	        <label class="control-label" style="font-size: 15px;">标签：</label>
	            <input type="text" class="form-control"  placeholder="若属于某个标签，在这里填写" ng-model="formData.tag"/>
	    </div>
	</div>
	<div class="form-group col-md-1"></div>
	<div class="form-group col-md-5">
	    <h4>题目预览</h4>
	    <label class="control-label" style="font-size: 15px;">判断题题干：</label>
	    <div class="form-control-static">{{formData.content}}</div>
	    <ul class="list-unstyled">
	        <li ng-repeat="o in formData.options" ng-class="{'text-success': $index==formData.answer}">
	            <label class="radio-inline">
	                <input type="radio" name="q_{{formData.id}}" ng-checked="$index==formData.answer">
	                {{o.name}}
	            </label>
	        </li>
	    </ul>
	    <div class="form-group">
	        <button class="btn btn-success mt12" ng-click="saveQuestion()">保存</button>
	        <a href="#/questionList" class="btn btn-info mt12">返回题目列表</a>
	    </div>
	</div>
</form>